@{
    ViewBag.Title = "Home Page";
}

<h1 class="text-center">Welcome to my Website!</h1>
<p class="lead text-center">I am using this as a platform to develop my HTML, CSS, and JavaScript skills</p>

<br /><br /><br />

<div class="row">
    <div class="col-md-4">
        <h2>Games</h2>
        <p>
            I will be practicing my JavaScript skills by developing simple games such as Tic Tac Toe.
        </p>
        <div class="btn btn-dark">@Html.ActionLink("Learn more", "Index", "Home")</div>
        <br /><br /><br />
    </div>
    <div class="col-md-4">
        <h2>Themes</h2>
        <p>I like to practice my HTML and CSS skills by going out to different websites and creating static verisons of their themes.</p>
        <div class="btn btn-dark">@Html.ActionLink("Learn more", "Index", "Home")</div>
        <br /><br /><br />
    </div>
    <div class="col-md-4">
        <h2>Classes</h2>
        <p>I keep track of all my classes that I have taken in my college career.</p>
        <div class="btn btn-dark">@Html.ActionLink("Learn more", "Index", "Home")</div>
        <br /><br /><br />
    </div>
</div>

<button type="button" onclick="DisplayDate()">Display Date and Time</button>

<p id="date"></p>

<script src="~/Scripts/custom/custom.js"></script>