
@{
    ViewBag.Title = "Resume";
}

<h2>Resume</h2>
<p>Interested in seeing my source code? Check out my <a class="btn btn-success" href="https://github.com/IsaacYocum/MyWebsite" role="button">GitHub</a></p>
<iframe class="doc" src="https://drive.google.com/file/d/1UYoWLizZmOQLrseUOsfGHWxYIgv6Csuc/preview"></iframe>
