
@{
    ViewBag.Title = "Resume";
}

<h2>Résumé</h2>
<p>Interested in seeing my source code? Check out my <a class="btn btn-success" href="https://github.com/IsaacYocum/MyWebsite" target="_blank" role="button"><i class="fa fa-github"></i> GitHub</a></p>
<iframe class="doc" src="https://drive.google.com/file/d/1MubhZimTcze8NYQpLEOYK6IMOgNOVy6f/preview"></iframe>
